<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zywl.dao.GoodsMapper">

    <select id="getList" parameterType="goodsModel" resultType="goodsModel">
        SELECT
        goods_id as goodsId,
        goods_name as goodsName,
        goods_price as goodsPrice,
        goods_pic as goodsPic,
        house_id as houseId,
        is_one as isOne
        FROM
        goods tbl
        where 1=1
        <if test="houseId != '' and houseId != null ">
            and house_id = #{houseId}
        </if>
        <if test="isOne != '' and isOne != null ">
            and is_one = #{isOne}
        </if>
        limit ${pageNow},${pageSize}
    </select>

    <select id="getCount" parameterType="goodsModel" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM goods
        where 1=1
        <if test="isOne != '' and isOne != null ">
            and is_one = #{isOne}
        </if>
    </select>

</mapper>