<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zywl.dao.GoodsMapper">

    <select id="getList" parameterType="goodsModel" resultType="goodsModel">
        SELECT
        goods_id as goodsId,
        goods_name as goodsName,
        goods_price as goodsPrice,
        goods_pic as goodsPic,
        house_id as houseId,
        is_one as isOne,
        product_data as productData,
        house_type as houseType,
        lottery_price as lotteryPrice
        FROM
        goods tbl
        where 1=1
        <if test="houseId != '' and houseId != null ">
            and house_id = #{houseId}
        </if>
        <if test="isOne != '' and isOne != null ">
            and is_one = #{isOne}
        </if>
        limit ${pageNow},${pageSize}
    </select>

    <select id="getCount" parameterType="goodsModel" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM goods
        where 1=1
        <if test="isOne != '' and isOne != null ">
            and is_one = #{isOne}
        </if>
    </select>

    <select id="getGoodDetail" parameterType="goodsModel" resultType="goodsModel">
        SELECT
        goods_id as goodsId,
        goods_name as goodsName,
        goods_price as goodsPrice,
        goods_pic as goodsPic,
        house_id as houseId,
        is_one as isOne,
        product_data as productData,
        house_type as houseType,
        detail_pic as detailPic,
        lottery_price as lotteryPrice
        FROM
        goods tbl
        where 1=1
        <if test="goodsId != '' and goodsId != null ">
            and goods_id = #{goodsId}
        </if>
    </select>


    <insert id="insertSnatch" parameterType="snatchOrderModel">
        insert into snatch_order
        (
        goods_id,
        user_id,
        create_time
        )
        values
        (
        #{goodsId},
        #{userId},
        now()
        )
    </insert>

</mapper>